body {
    margin: 0;
}

/** style for the intro div **/
.intro {
    display: flex;
    padding: 95px 50px 90px 50px;
    max-width: 1000px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.left-name {
    max-width: 600px;
    padding-top: 75px;
    padding-left: 15px;
}

.left-name h1 {
    color: #D15523;
    font-family: 'Paytone One', sans-serif;
    font-size: 3.5rem;
    margin: 0;
}

/** changes color when mouse hovered to h1 **/
.left-name h1:hover {
    color: #E17A51;
}

.left-name p {
    color: #0A090C;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

/** resize of the picture **/
.me {
    max-width: 300px;
    height: 300px;
}


/** style for the subjects div **/
.subjects {
    background-color: #DE6C3F;
    color: #FFF;
    display: flex;
    padding: 50px 40px 60px 73px;
    max-width: 1000px;
    justify-content: inline-flex;
    gap: 118px;
    flex-wrap: wrap;
    margin: 0 auto;

}

.left-cmsc {
    max-width: 420px;
}

.right-ge {
    max-width: 420px;
}

.left-cmsc h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.1rem;
} 

.left-cmsc p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.right-ge h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.1rem;
}

.right-ge p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}