body {
    margin: 0;
    min-height: 100vh;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 1rem;
}

h1, h2 {
    font-family: 'Paytone One', sans-serif;
}

/** style for the intro div **/
.intro {
    display: flex;
    padding: 95px 50px 90px 50px;
    max-width: 1000px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.left-name {
    max-width: 600px;
    padding-top: 75px;
    padding-left: 15px;
    color: #0A090C;
}

.left-name h1 {
    color: #D15523;
    font-size: 3.5rem;
    margin: 0;
}

/** changes color when mouse hovered to h1 **/
.left-name h1:hover {
    color: #E17A51;
}

/** resize the picture **/
.me {
    max-width: 300px;
    height: 300px;
}


/** style for the subjects div **/
.subjects {
    background-color: #DE6C3F;
    color: #FFF;
}

.subjects-inner {
    display: flex;
    padding: 50px 40px 60px 73px;
    max-width: 1000px;
    justify-content: inline-flex;
    gap: 135px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.left-cmsc, .right-ge {
    max-width: 420px;
}

.left-cmsc h2, .right-ge h2 {
    font-size: 2.1rem;
} 


/** style for the others div **/
.others {
    display: flex;
    padding: 50px 50px 100px 75px;
    max-width: 1000px;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.others h2 {
    font-size: 2.1rem;
    color: #D15523;
}


/** footer **/ 
.footer {
    background-color: #D15523;
    color: #FFF;
    text-align: center;
    border: solid;
}
